body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#navbar{
  display: flex;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 25px;
  width: 100%;
  height: 50px;
  background-color: lightsalmon;
}

.navbar-link{
  padding-right: 30px;
  color:midnightblue;
  text-decoration: none;
}

.navbar-link:hover{
  color: white;
}

#header{
  text-align: center;
  color: navy;
}
.shelf{
  align-items: center;
  justify-content: center;
  color: navy;
  font-weight: lighter;
  display: flex;
  padding-left: 10px;
  padding-bottom: 30px;
  margin-top: 10px;
  border-bottom: 10px groove grey;
  box-shadow: 5px 5px grey;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
